-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  = hidden_field_tag "sort_by", params[:sort_by]
  = hidden_field_tag "order", params[:order]
  - presenter.ratings.each do |rating, val|
    = rating
    = check_box_tag "filters[ratings[#{rating}]]", "1", !!val
  = submit_tag 'Refresh', id: "ratings_submit"

=  render "list", presenter: presenter

= link_to 'Add new movie', new_movie_path
