-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  = hidden_field_tag "sort_by", params[:sort_by]
  = hidden_field_tag "order", params[:order]
  - presenter.ratings.each do |rating, val|
    = rating
    = check_box_tag "filters[ratings[#{rating}]]", "1", !!val
  = submit_tag 'Refresh', id: "ratings_submit"

%table#movies
  %thead
    %tr
      %th{ class: presenter.css_for_column(:title) }
        = link_to "Movie Title", presenter.url_for_column(:title), id: "title_header"
      %th Rating
      %th{ class: presenter.css_for_column(:release_date) }
        = link_to "Release Header", presenter.url_for_column(:release_date) , id: "release_date_header"
      %th More Info
  %tbody
    - presenter.movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
